* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



div.container {
    background-color: #fff;
    color: #fff;
    margin-top: 10px;
}
div.content {
    background-color: #212121;
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #E74A65;
    padding: 50px 30px;
}

main {
    padding: 20px 0 20px 50px;
}

ul {
    list-style-type: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
}
ul li::before {
    content: "\2022";
    color: #ED3C5D;
    display: inline-block;
    width: 16px;
    margin-left: -1em;
}