/* Code for table task

.heading {
    color: #000000;
    border: 2px solid #000000;
    text-align: center;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000000;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#name {
    text-align: center;
}
*/


.container {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}
nav {
    text-align: center;
}
ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    display: inline;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    padding: 10px 80px;
}
li a {
    border: 1px solid #000;
}

img.square {
    width: 100%;
}
.flex {
    display: flex;
    width: 50%;
}
article {
    padding-left: 35px;
    width: 400px;
}

.sample {
    width: 500px;
}